---
extends: default

rules:
  line-length:
    max: 180
    level: warning

ignore: |
  .github/stale.yml
  roles

warn_list:
  - no-changed-when  # Commands should not change things if nothing needs doing
